* {
    margin:0px;
    padding:0px;

}

#header {
    margin:0px auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav {
    width:100%;
    height:40px;
    background-color:#AED754;
    z-index:9999;
    margin-top:40px;}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#AED754;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#a5cc52;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

#menu li #fecha{
    float: right;
    color:white;
}